*{
    margin: 0;
    padding: 0;
}

.container{
    width: 100%;

    display: flex;  /*width k grid onujay vag kore felbe.*/
    flex-flow: row wrap;  /*flex-wrap(wrap'r kaj hocche row te jaiga na thakle niche row te niye ashbe) and flex-direction eksathe use kore evebe...row means left to right, row-inverse means right to left*/
    justify-content: center;  /*ekta box'r position fixed kore deoa hoy: space-between means 2ta box'r moddhe paddhing, space-around means ekta box'r chardike padding, center means box gulo k container'r moddhe center a niye ashbe.*/

    align-items: center;  /*Box'r content gulo k align kore*/
    align-content: space-around; /*Box'r content gulor width fix kora hoy*/

}

.item{
    
    /*order: 1; --lower to higher order show hobe jodi different ordering kora hoy.*/
    /* flex-grow: 1;  --content width onujayi auto niye nibe */
    /*flex-shrink: 1;  --onno content'r width'r upor depend kore width nibe */
    /*flex-basis: 30%;  --like actual width. screen width k 30% onujayi ekekta item nibe. */
    /*flex: 0 1 21%;  0-grouw, 1-shirink, 30%-basis  3ta eksathe use korar way*/
    flex-basis: 90%;
    margin: 10px;
}

.item img{
    width: 100%;
}

@media only screen and (min-width:762px){
    .item{
        flex-basis: 300px;
    }
}